body {
    display: grid;
    grid-template-areas:
"One Two Three "
"Four Five Six "
"Seven Eight Nine "
;}
.class1516369375 {
grid-area: One;
}
.class {
grid-area: Three;
}
.class {
grid-area: Four;
}
.class159259014 {
grid-area: Five;
}
.class653687670 {
grid-area: Nine;
}
