body {
    display: grid;
    grid-template-areas:
"One Two Three "
"Four Five Six "
"Seven Eight Nine "
;}
.class423031029 {
grid-area: One;
}
.class1419810764 {
grid-area: Six;
}
.class922151033 {
grid-area: Seven;
}
.class1516369375 {
grid-area: Five;
}
.class55909012 {
grid-area: Nine;
}
